.principal-container {
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card1{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-left: 4.5%;
  width: 90%;
  justify-content: center;
  align-content: center;
}

.card {
  background-color: transparent;
  height: 280px;
  width: 220px;
  perspective: 1000px;
  margin: 0;
  padding: 0;
}

.flit-card-inner1 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .flit-card-inner1 {
  transform: rotateY(180deg);
}

.flit-card-front1,
.flit-card-back1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
}

.flit-card-front1 {
  background-image: linear-gradient(45deg);
}

.flit-card-front1 img {
  width: 210px;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 260px;
}

.flit-card-back1 {
  background-image: linear-gradient(315deg, #f1a3eb, #7d9793);
  color: black;
  transform: rotateY(180deg);
  height: 260px;
  border-radius: 10px;
}

.flit-card-back1 img {
  width: 130px;
  margin-top: 1rem;
  margin-bottom: 4rem;
  border-radius: 50%;
  margin-bottom: 10px;
}

.flit-card-back1 label {
  margin-bottom: 0.3rem;
}

.letters1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card label {
  font-size: 18px;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
}

.card span {
  font-size: 15px;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}


.card .flit-card-back1 button{
  background: transparent;
  border: none;
}  

.card .flit-card-back1 .delete{
  color: white;
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
  font-size: 35px;
  transition: 1s;
}

.card .flit-card-back1 .delete:hover{
  color: red;
}

.link3{
  color: black;
  text-decoration: none;
}