.principal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 780px;
  margin-top: 3%;
  margin-left: 0;
  margin-right: 0;
  gap: 30px;
  background-image: url('../../assets/rick1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  background-color: transparent;
  height: 450px;
  width: 280px;
  perspective: 1000px;
  margin-top: 100px;
  margin-bottom: -90%;
}

.flit-card-inner1 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .flit-card-inner1 {
  transform: rotateY(180deg);
}

.flit-card-front1,
.flit-card-back1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
}

.flit-card-front1 {
  background-image: linear-gradient(45deg);
}

.flit-card-front1 img {
  width: 290px;
  border-radius: 35% 10%;
  margin-bottom: 10px;
  height: 350px;
}

.flit-card-back1 {
  background-image: linear-gradient(315deg, #f1a3eb, #7d9793);
  color: black;
  transform: rotateY(180deg);
  height: 350px;
  border-radius: 10% 35%;
}

.flit-card-back1 img {
  width: 170px;
  margin-top: 1rem;
  margin-bottom: 4rem;
  border-radius: 50%;
  margin-bottom: 10px;
}

.flit-card-back1 label {
  margin-bottom: 0.3rem;
}

.letters1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card label {
  font-size: 30px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
}

.card span {
  font-size: 20px;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}


.card .flit-card-back1 button{
  background: transparent;
  border: none;
}  

.card .flit-card-back1 .delete{
  color: white;
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
  font-size: 35px;
  transition: 1s;
}

.card .flit-card-back1 .delete:hover{
  color: red;
}