/* body{
  background-image: url('../../assets/rick5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  width: 100%;
  margin: 0;
  position: sticky;
  height: auto
} */


.charcters{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 4%;
  margin-left: auto;
    gap: 10px;
    width: 80%;
    margin-right: auto;
}



