.paginado{
  background: #1e2326;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 50px;
}

.create{
  margin-right: 10px;
  width: 55px;
}

.filtrers{
    width: 50%;
    position: relative;
    left: 10%;
}

.numbers{
  position: relative;
    top: -21px;
    width: 50%;
    left: 21%;
}

.paginado ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.paginado li{
  margin-left: 10px;
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s ease-in;
}

.paginado li:hover{
  background-color: lightblue;
  color: black;
}

.paginado button{
  width: 55px;
  border: none;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

.btn svg{
  font-size: 21px;
}

