.back-n{
  height: auto;
  left: 0;
  width: 100%;
  margin: 0;
  /* background-image: url('../../assets/rick5.jpg'); */
  background-position: cover;
  background-size: contain;
  background-repeat: no-repeat;
}

.principal-character{
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  margin-top: 8.5%;
  width: 100%;
  height: auto;
}

.principal2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  width: 260px;
  height: 400px;  
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(0px);
  border-radius: 10px;
  /* border: 3px solid #fff; */
}

.principal2:hover{
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(15px);
}


.principal2 img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-top: 0px;
}

.principal2 h1{
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.principal2 h2{
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.principal2 span{
  font-size: 20px;
  margin-bottom: 4px;
}

.principal2 label{
  font-size: 15px;
}

.principal-character .episodes{
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: auto;
  /* border: 3px solid #fff; */
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(0px);
  border-radius: 10px;
  text-align: justify;
}

.principal-character .episodes h2{
  position: relative;
   margin-top: 0;
   margin-bottom: 0; 
  }

.principal-character .episodes:hover{
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(15px);
}

.epids{
  column-count: 3; /* Número de columnas */
  column-gap: 5px; /* Espacio entre columnas */
  text-align: justify;
  width: auto;
}

.epids ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.epids ul li{
  font-size: 13px;
}
